<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
    
    <% include partials/template/header.ejs %>
     <section class="layout">
     	<div class="primary">
          This is the primary divison in the section tag.Here you will see how it goes and looks in the browser.
        </div>

        <aisde class="secondary">
          This is the aside divison in the section tag.Here you will see how it goes and looks in the browser.
        </aside>
     </section>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefault.ejs %>  
  
    
  </body>
</html>
